<p-toast></p-toast>
<div class="container" *ngIf="id && validacion.estado">
  <h1> {{ronda.descripcion}} - {{ronda.id}}</h1>
  <br>

  <h3>Seleccione una opción y de click en el boton votar</h3>
  <p-panel header="Candidatos" *ngIf="candidatos">
    <div class="ui-g">



      <div class="ui-g-12" *ngFor="let item of candidatos">
        <div class="ui-g-6">
          <p-radioButton name="group1" value="{{item.id}}" label="{{item.votacionCandidato.candidato.nombre}} "
            [(ngModel)]="seleccion"></p-radioButton>

        </div>
        <div class="ui-g-6">
          <img src="{{item.votacionCandidato.candidato.urlImage}}" width="80" height="80"
            *ngIf="item.votacionCandidato.candidato.urlImage">
        </div>
      </div>
      <hr>
      <div class="ui-g-12">
        <p-radioButton name="group1" value="null" label="Voto en Blanco" [(ngModel)]="seleccion"></p-radioButton>
      </div>

      <div class="ui-g-12">
        <button type="button" pButton icon="pi pi-check" (click)="save()" label="Votar"
          [disabled]="!seleccion || ocupado===true" style="float: right;"></button>
      </div>
    </div>
  </p-panel>



</div>

<div class="container" *ngIf="!validacion.estado ">
  <h1>{{validacion.mensaje}}</h1>
  <button type="button" pButton icon="pi pi-check" (click)="volver()" label="Volver"></button>
</div>


