<p-toast></p-toast>
<div class="container" *ngIf="id">
  <h1>Seleccione una opción</h1>

  <p-panel header="Candidatos" *ngIf="candidatos">
    <div class="ui-g">



      <div class="ui-g-12" *ngFor="let item of candidatos">
        <div class="ui-g-6">
          <p-radioButton name="group1" value="{{item.id}}" label="{{item.votacionCandidato.candidato.nombre}} "
            [(ngModel)]="seleccion"></p-radioButton>

        </div>
        <div class="ui-g-6">
          <img src="{{item.votacionCandidato.candidato.urlImage}}" width="80" height="80"
            *ngIf="item.votacionCandidato.candidato.urlImage">
        </div>
      </div>
      <hr>
      <div class="ui-g-12">
        <p-radioButton name="group1" value="null" label="Voto en Blanco" [(ngModel)]="seleccion"></p-radioButton>
      </div>

      <div class="ui-g-12">
        <button type="button" pButton icon="pi pi-check" (click)="save()" label="Votar"
          [disabled]="!seleccion || ocupado===true" style="float: right;"></button>
      </div>
    </div>
  </p-panel>



</div>
