@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Ha cerrado la sesión con éxito de la aplicación.   <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Click aqui para ir al inicio</a></p>

</header>