<p-toast></p-toast>
<div class="container" *ngIf="ronda">
  <h1 id="tableLabel"> {{ronda.descripcion}}</h1>
  <div class="ui-g-12">
    <button type="button" pButton icon="pi pi-arrow-left" (click)="retornar()" label="Atras"
      style="float: left;"></button>
  </div>
  <!-- link localhost:44396/voto/{{id}} <br> -->
  <div class="ui-g-12">
    <p style="float: left;">
      {{getUrl()}}
      <button type="button" pButton icon="pi pi-clone" (click)="copyMessage()" title="Copiar url para votar"></button>
    </p>
  </div>


  <hr>
  <p-tabView>
    <p-tabPanel header="Resultados">
      <div class="ui-g">

        <div class="ui-g-12">
          <button type="button" pButton icon="pi pi-refresh" (click)="cargarResultados()" label="Actualizar resultados"
            style="float: right;"></button>
        </div>

        <div class="ui-g-12" *ngIf="showResult;else pending">

          <div class="ui-g-12">
            <p-chart type="horizontalBar" [data]="data2"></p-chart>
          </div>
          <div class="ui-g-12">
            <p-chart type="pie" [data]="data"></p-chart>
          </div>
        </div>

        <ng-template #pending>
          <h3>Estado de las votaciones</h3>

          <div class="ui-g-12">
            <ul>
              <li *ngFor="let item of votantesEstadoVotos">
                <p-message severity="{{item.estadoVoto===true?'success':'warn'}}" text="{{item.votante}}"></p-message>
              </li>
            </ul>
          </div>
        </ng-template>



      </div>
    </p-tabPanel>
    <p-tabPanel header="Votantes">
      <div class="ui-g">
        <ul>
          <li *ngFor="let item of votantes">{{item.votacionVotante.votante.nombre}} </li>
        </ul>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Candidatos">
      <div class="ui-g">
        <ul>
          <li *ngFor="let item of candidatos">{{item.votacionCandidato.candidato.nombre}} </li>
        </ul>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>
