<div class="ui-g-12">
  <h1>Bienvenido al sistema de votación Electrónica </h1>
</div>
<div class="ui-g-12">
  <img src="./../assets/img/cabecera_votaciones.jpg" class="img-fluid" alt="Responsive image">
</div>
<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, totam distinctio expedita animi ea reiciendis
  suscipit eligendi minima placeat quibusdam. Corrupti tempora amet minima mollitia eos aut quos nesciunt harum.:</p>
<ul>
  <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est eum deleniti deserunt cumque, ut reprehenderit,
    atque nam veritatis suscipit perferendis at consequatur necessitatibus ex sed explicabo ullam voluptates dignissimos
    tenetur?</li>
  <li>Quae maxime, tempora quisquam nisi fugiat dolores ratione dignissimos odio excepturi, reiciendis voluptates
    libero, animi optio veritatis. Odio voluptate deserunt nostrum doloribus ab. Aperiam, consectetur odit! Ut omnis
    voluptate odio?</li>
  <li>Praesentium esse eos nemo impedit, magni accusamus iusto voluptatum eius aperiam dolor quam et ipsam culpa ducimus
    sint saepe ad necessitatibus officia fugiat odit? Fugiat, animi! Quidem vero pariatur eligendi.</li>
  <li>Enim dolorum quasi vero nulla magni nemo magnam numquam accusamus natus repellendus animi, modi ea repellat
    provident dicta accusantium exercitationem assumenda qui corrupti, aut temporibus cupiditate eius deserunt labore.
    In!</li>
  <li>Reprehenderit ullam culpa consectetur commodi vel. Rem aliquam ex quos cupiditate delectus dignissimos qui
    expedita eius itaque provident laudantium vel architecto tenetur, earum suscipit culpa sunt odio. Similique, vero
    accusamus!</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.
  </li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It
    runs in the background automatically, so your client-side resources are dynamically built on demand and the page
    refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your
    <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified,
    ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that
  directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install
  extra packages into it.</p> -->
